<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orizo App</title>
    <script defer src="{{ url_for('static', filename='js/phone.js') }}"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    {% block styles %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <main class="phone">
        <div class="top-infos">
            <span id="time"></span>
            <div id="battery" data-level="90">
                <div class="outer">
                    <div class="inner">
                        <span id="battery-text"></span>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>